$color-primary: #4c4434;
$color-secondary: #f69a2f;
$color-gray: #999998;

$font-family: 'Montserrat', sans-serif;
$base-font-size: 16px;

$main-spacing: 20px;

$breakpoints: (
  xs: 500px,
  sm: 800px,
  md: 1000px,
  lg: 1205px,
  xl: 1600px,
);
