.wrapper {
  //change to grid / grid with divs
  margin-top: $main-spacing;
  @include mq(sm) {
    width: 50%;
  }
}

.table {
  width: 100%;

  border-left: 1px solid $color-gray;
  border-right: 1px solid $color-gray;
  border-top: 1px solid $color-gray;

  &__th {
    padding: $main-spacing $main-spacing / 4;

    color: rgba(white, 0.9);
    background-color: $color-primary;
    border-bottom: 1px solid $color-gray;

    @include mq(sm) {
      padding: $main-spacing;
    }
  }

  &__body {
    display: block;
    height: 75vh;
    overflow-y: scroll;

    @include mq(sm) {
      display: table-row-group;
    }

    @include mq-landscape(xss) {
      height: 55vh;
    }
  }

  &__tr {
    table-layout: fixed;
    display: table;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid $color-gray;

    @include mq(sm) {
      display: table-row;
      width: initial;
    }

    &:hover {
      background-color: #ddd;
      & .column__delete {
        & .btn-svg--delete {
          opacity: 1;
        }
      }
    }
  }

  &__td {
    padding: $main-spacing / 2 $main-spacing / 4;
    vertical-align: middle;

    @include mq(sm) {
      padding: $main-spacing;
    }
  }

  &__sort-indicator {
    position: absolute;
    filter: invert(62%) sepia(62%) saturate(567%) hue-rotate(346deg)
      brightness(97%) contrast(98%);
  }
}

.pagination {
  display: none;

  @include mq(sm) {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: $main-spacing;
    border-bottom: 1px solid $color-gray;
    border-right: 1px solid $color-gray;
    border-left: 1px solid $color-gray;
    & > * {
      margin: 0 10px;
    }
  }
}

.btn-svg {
  &--page:hover {
    filter: invert(62%) sepia(62%) saturate(567%) hue-rotate(346deg)
      brightness(97%) contrast(98%);
  }
}

.column__name {
  text-align: left;
  min-width: 50%;
  word-break: break-all;
}

.column__priority {
  width: 80px;
}

.column__done {
  width: 60px;
  text-align: center;
}

.column__delete {
  width: 52px;
  text-align: center;
}
