table {
  border: 1px solid $color-gray;
}

table tr:hover {
  background-color: #ddd;
}

table td {
  padding: 26px;
  border-bottom: 1px solid $color-gray;
}

table th {
  padding: 26px;
  text-align: left;
  background-color: $color-primary;
  color: rgba(white, 0.9);
  border-bottom: 1px solid $color-gray;
}

.wrapper {
  width: 100%;
  @include mq(xs) {
    width: 80%;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 26px;
  border-bottom: 1px solid $color-gray;
  border-right: 1px solid $color-gray;
  border-left: 1px solid $color-gray;

  & > * {
    white-space: nowrap;
  }
}

.button--svg {
  background-color: Transparent;

  &:active {
    filter: invert(63%) sepia(69%) saturate(628%) hue-rotate(338deg)
      brightness(101%) contrast(93%);
  }
}

.column__name {
  width: 100%;
}
