.form-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 0 $main-spacing / 2;
  margin-bottom: $main-spacing;

  @include mq(sm) {
    position: static;
    margin: $main-spacing 0;
    padding: 0;
  }
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  .form__task-input {
    flex-grow: 1;
  }
}
